
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>認証成功</title>
    <script src="/javascripts/dexie.min.js"></script>
  </head>
  <body>
  if user 
    script const [DB_NAME, USER_NAME] = ['#{dbName}', '#{user.displayName}'];
  else 
    script const [DB_NAME, USER_NAME] = ['', ''];
  <script type="module" src="/javascripts/auth.js"></script>
  </body>
</html>
