doctype html
html
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="PT Web">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="./images/appicon-192.png">
    <link rel="apple-touch-startup-image" href="/images/appicon-192.png">
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/dexie.min.js")
  body
    block content
