doctype html
html
  head
    <meta charset="UTF-8">
    title= title
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="PT Web">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" href="/images/appicon-192.png">
    <link rel="apple-touch-startup-image" href="/images/appicon-192.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/register.js"></script>
    <script src="/javascripts/dexie.min.js"></script>
  body
    block content
