/* PWA向け */
:not(input, textarea) {
  user-select: none;
}

.button {
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  position: relative;
  top: 1px;
  background-color: rgba(255,255,255, 0.3);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #000;
  background: #fff;
  overscroll-behavior-y: none;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 1px;
  position: relative;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;/* https://ics.media/entry/200317/ */
  /*animation-duration: 0.5s;
  animation-timing-function: ease-out; 
  animation-name: open;*/
}

#setting {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 10;
  text-align: right;
}

/* 歯車のSVG https://icooon-mono.com/00001/ */
#setting-icon {
  width: 24px;
  height: 24px;
  fill: rgb(58, 171, 210);
  filter: drop-shadow(0 1px 1px #aaa);
}

#setting:active svg {
  position: relative;
  top: 1px;
}

/* twitterのSVG https://icooon-mono.com/00226 */
#twitter-icon {
  width: 24px;
  height: 24px;
  fill: #ccc;
  position: absolute;
  top: 11px;
  right: 45px;
}

.user-info #twitter-icon {
  position: static;
  margin-right: 6px;
}

#twitter-icon.active {
  fill: #0acafa;
}

header {
  box-sizing: border-box;
  height: 44px;
  background: #efefef;
  margin: 0 0 16px;
  padding: 0 10px;
  box-shadow: 0 3px 3px #ccc;
  position: sticky;
  top: 0;
  z-index: 5;
}

header nav {
  position: absolute;
  left: 10px;
  margin: 0;
  padding: 0;
  line-height: 44px; /* headerの高さと同じ */
}

header a {
  text-decoration: none;
  color: #0acafa;
  padding: 0;
}

header a.back {
  position: relative;
  padding-left: 16px;
}

header a.back::after{ /* thanks https://wemo.tech/122 */
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);/* ボーダーの太さ分を引く*/
  border-top: solid 2px;
  border-right: solid 2px;
  transform: rotate(225deg) translateY(50%);
  color: inherit;
}

header h1 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 44px; /* headerの高さと同じ */
}
/* ==================== */



/* ==================== */
/* 記録の入力フォームを表示したときに裏のボタンを押せないようにオーバーレイする */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: #aaa;
  opacity: 0.5; 
}

/* ==================== */
/* Tweetボタン */
#tweet-button-area {
  display: none;
}

#tweet-button-area.appear {
  display: block;
  position: fixed; /* 包含ブロックはビューポートになる（bodyではない） */
  width: 250px;
  height: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 6px #aaa;
  border-radius: 8px;
  z-index: 10;
  animation-duration: 0.3s;
  animation-timing-function: ease-out; 
  animation-name: open;
}

#tweet-button-area p {
  font-size: 90%;
  margin: 0 0 0.5em;
}

#tweet-button-area .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#tweet-button-area a {
  width: 80px;
  display: inline-block;
  text-align: center;
}

/* https://www.benricho.org/loading_images/svg01.html */
#tweet-button-area a img {
  width: 26px;
}

#tweet-button-area iframe {
  animation-duration: 0.5s;
  animation-timing-function: ease-out; 
  animation-name: open;
}

#tweet-button-area span {
  cursor: pointer;
}

/* ==================== */
/* 記録の入力フォーム */
form {
  display: none;
}

form.appear { /* EditViewから切り替える */
  display: block;
  position: fixed; /* 包含ブロックはビューポートになる（bodyではない） */
  width: auto;
  margin: 10px;
  padding: 0 0 1px;
  background: #fff;
  box-shadow: 0 3px 6px #aaa;
  border-radius: 8px;
  z-index: 10;
  animation-duration: 0.3s;
  animation-timing-function: ease-out; 
  animation-name: open;
}

@keyframes open {
  from {
    opacity: 0;
    
  }

  to {
    opacity: 1;
    
  }
}

form.hidden  { /* EditViewから切り替える */
  display: none;
}


form h2 {
  background: #e08c75;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 1rem;
  padding: 7px 0 5px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cancel,
#save {
  font-weight: normal;
  padding: 0 10px;
  cursor: pointer;
}

form h3 {
  font-size: 1rem;
  margin: 0 10px 1rem;
  padding: 0;
}

form select {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  text-overflow: ellipsis;
}

form dl {
  font-size: 1rem;
  margin: 0 10px 1rem;
  padding: 0;
  display: grid;
  grid-template-columns: 3.5rem 1fr 1fr;
  grid-template-areas:
   "set1-title set1 set1Alt"
   "set2-title set2 set2Alt"
   "set3-title set3 set3Alt";
}

form input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

form dt,
form dd {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.set1-title {
  grid-area: set1-title;
}

.set1 {
  grid-area: set1;
  padding-right: 5px;
}

.set1Alt {
  grid-area: set1Alt;
  padding-left: 5px;
}

.set2-title {
  grid-area: set2-title;
}

.set2 {
  grid-area: set2;
  padding-right: 5px;
}

.set2Alt {
  grid-area: set2Alt;
  padding-left: 5px;
}

.set3-title {
  grid-area: set3-title;
}

.set3 {
  grid-area: set3;
  padding-right: 5px;
}

.set3Alt {
  grid-area: set3Alt;
  padding-left: 5px;
}

input:disabled {
  color: #ccc;
}
/* ==================== */

/* ==================== */
/* トレーニング・ゴール */
#training-goal {
  margin: 0 10px 16px;
  padding: 10px;
  background: #f7f7f7;
  font-size: 0.9rem;
}

#training-goal h4 {
  font-size: 100%;
  margin: 0 0 10px;
  padding: 0;
}

#training-goal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#training-goal li {
  margin: 0.3rem 0;
  padding: 0;
}
/* ==================== */

/* ==================== */
/* 最近の〇日 */
#daily-table {
  border-collapse: separate;
  border-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#daily-table * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

#daily-table caption {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

#daily-table caption span {
  display: block;
}

#first {
  font-size: 0.6rem;
  float: left;
  color: #999;
  margin: 10px 0 0 3px;
}

#latest {
  font-size: 0.6rem;
  float: right;
  color: #999;
  margin: 10px 3px 0 0;
}


#daily-table th {
  font-size: 0.6rem;
  font-weight: normal;
  text-align: left;
  padding-left: 3px
}

/*
#daily-table td.has-data {

}
*/

#daily-table td.step1 {
  background: #86B81B;
}

#daily-table td.step2 {
  background: #009140;
}

#daily-table td.step3 {
  background: #00958D;
}

#daily-table td.step4 {
  background: #0097DB;
}

#daily-table td.step5 {
  background: #0062AC;
}

#daily-table td.step6 {
  background: #1B1C80;
}

#daily-table td.step7 {
  background: #8A017C;
}

#daily-table td.step8 {
  background: #D60077;
}

#daily-table td.step9 {
  background: #D7004A;
}

#daily-table td.step10 {
  background: #D7000F;
}

#daily-table td.level1 {
  opacity: 0.3;
}

#daily-table td.level2 {
  opacity: 0.6;
}

#daily-table td.level3 {
  opacity: 1;
}

#daily-table tr {
  background: #f5f5f5;
}

#daily-table tr:nth-child(even) {
  background: #eee;
}
/* ==================== */


/* ==================== */
/* 週の記録 */
#weekly-score {
  margin: 0 10px;
  padding: 1px 0 0;
  /*display: flex;
  justify-content: flex-start;
  align-items: baseline;*/
}

#weekly-score dt {
  font-size: 0.6rem;
  color: #999;
  margin: 9px 0 0;
  padding: 0;
}

#weekly-score dd {
  font-size: 1.4rem;
  width: 4rem;
  text-align: right;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* ==================== */



/* ==================== */
/* レーダーチャート */
#radar {
  width: 100%;
  min-width: 250px;
  min-height: 250px;
  margin: 0 auto;
  position: relative;
}

#radar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#radar li {
  position: absolute;
  visibility: hidden; /* スクリプトで外す */
  /* topとleftはスクリプトで決める */
}

#radar a {
  text-decoration: none;
  color: #0acafa;
  font-weight: bold;
}

polygon.outer {
  fill: none;
  stroke: #999;
  stroke-width: 0.4;
}

polygon.inner {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.2;
}

polygon.score1 {
  fill: red;
  opacity: 0.1;
}

polygon.score2 {
  fill: red;
  opacity: 0.1;
}

polygon.score3 {
  fill: red;
  opacity: 0.1;
}

polygon.score4 {
  fill: red;
  opacity: 0.1;
}

polygon.score5 {
  fill: red;
  opacity: 0.1;
}

polygon.score6 {
  fill: red;
  opacity: 0.1;
}

polygon.score7 {
  fill: red;
  opacity: 0.1;
}

polygon.score8 {
  fill: red;
  opacity: 0.1;
}

polygon.score9 {
  fill: red;
  opacity: 0.1;
}

polygon.score10 {
  fill: red;
  opacity: 0.1;
}
/* ==================== */


/* ==================== */
/* 棒グラフ */
#bar-graph {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

#bar-graph svg {
  position:absolute;
  right: 0;
}

#bar-graph p {
  font-size: 95%;
  color: #ccc;
  position: absolute;
  margin: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
  transform: translateY(-10px); /* #bar-graphとヘッダーの間のマージンがあるのでテキストが少し下に見えるのを補正 */
  text-align: center;
}

#bar-graph rect {
  opacity: 0.7;
  animation-name: growing;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes growing {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

rect.step1 {
  fill: #86B81B;
}

rect.step2 {
  fill: #009140;
}

rect.step3 {
  fill: #00958D;
}

rect.step4 {
  fill: #0097DB;
}

rect.step5 {
  fill: #0062AC;
}

rect.step6 {
  fill: #1B1C80;
}

rect.step7 {
  fill: #8A017C;
}

rect.step8 {
  fill: #D60077;
}

rect.step9 {
  fill: #D7004A;
}

rect.step10 {
  fill: #D7000F;
}



/* ==================== */
/* 日付選択 */
#date-list {  
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 440px;
}

#date-list li {
  margin: 0;
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  /*border-left: 5px solid transparent;*/
  animation-duration: 0.3s;
  animation-timing-function: ease-out; 
  animation-name: open;
}

#date-list li.has-data::after {
  content:"\02713";
  position: absolute;
  right: 15px;
  color: lightgreen;
  font-weight: bold;
}

/*
#date-list li.has-data {
  border-left: 5px solid lightblue;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "date step"
    "date value";
  align-items: center;
}

#date-list li .date {
  grid-area: date;
  
}
*/

#date-list li .step {
  /*grid-area: step;
  font-size: 10px;
  padding-left: 10px;*/
  font-size: 12px;
  margin-left: 10px;
  color: #666;
}

#date-list li .value {
  /*grid-area: value;
  font-size: 10px;
  padding-left: 10px;*/
  font-size: 12px;
  margin-left: 10px;
  color: #666;
}


#next {
  display: block;
  margin: 10px auto;
  padding: 2px 0 0;
  background: #fcfcfc;
  text-indent: 0.5rem;
  width: 10rem;
  line-height: 2.4;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0px 4px #ddd;
  text-decoration: none;
  color: #0acafa;
  position: relative;
  cursor: pointer;
}

#next::after{ /* thanks https://wemo.tech/122 */
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 12px;
  top: calc(50% - 6px);
  border-top: solid 2px;
  border-right: solid 2px;
  transform: rotate(135deg);
  color: #ccc;
}

/* ==================== */


/* ==================== */
/* 設定 */
.user-info,
.data-manage {
  margin: 0 10px 2rem;
  animation-duration: 1s;
  animation-timing-function: ease-out; 
  animation-name: open;
}

.data-manage.hidden {
  display: none;
}

.user-info h2,
.data-manage h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0.7rem;
}

.user-info ul,
.data-manage ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.user-info li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.user-info .hidden {
  display: none;
}

/* クラウドのSVG https://icooon-mono.com/16082/ */
/* DBのSVG https://icooon-mono.com/16024/ */
#cloud-icon,
#db-icon {
  width: 20px;
  height: 20px;
  fill: rgb(75, 75, 75);
  margin-left: 1rem;
  margin-right: 6px;
}

#cloud-icon.hidden {
  display: none;
}

#records-cloud,
#records-db {
  min-width: 1.5rem;
  text-align: right;
  display: inline-block;
}

#user-name {
  flex-grow: 1;
}

/* Twitterでアカウント連携・サインインする、アカウント連携を解除する、同期、キャッシュ更新ボタン */
#auth,
#logout,
#sync,
#update-cache {
  text-decoration: none;
  font-size: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 3px #ccc;
  margin: 12px 0;
  padding: 8px 10px;
}

#auth {
  color: #fff;
  background: #0acafa;
}

#logout {
  color: #0acafa;
  background: #fff;
}

#sync,
#update-cache { /* button Style */
  color: #0acafa;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
}

#sync:disabled,
#update-cache:disabled {
  color: #aaa;
  background: #eee;
  box-shadow: 0 0 1px #ccc;
  cursor: default;
}

/* https://iconmonstr.com/twitter-1-svg/ */
#auth svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: #fff;
  background: transparent;
}

/* https://iconmonstr.com/link-10-svg/ */
#logout svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: rgb(75, 75, 75);
}

/* https://iconmonstr.com/synchronization-24-svg/ */
#sync svg {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  fill: rgb(100, 100, 100);
}

/* https://iconmonstr.com/refresh-7-svg/ */
#update-cache svg {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  fill: rgb(100, 100, 100);
}

#auth.hidden,
#logout.hidden,
#sync.hidden {
  display: none;
}

.user-info p,
.data-manage p {
  font-size: 90%;
  color: #999;
}

.data-manage .hidden {
  display: none;
}

.data-manage li {
  margin: 0 0 10px;
}

.temp-alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.9rem;
  text-align: center;
  background: #fff;
  color:#000;
  opacity: 0.8;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px #ccc;
  z-index: 5;
}

#sync-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 50px;
  background: #fff;
  color:#000;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
  z-index: 5;
}

#sync-indicator dl {
  width: 180px;
  margin: 10px auto;
  padding: 0;
}

#sync-indicator dt {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

#sync-indicator dd {
  background: #ccc;
  border-radius: 4px;
  height: 8px;
  margin: 0;
  padding: 0;
}

#progress {
  display: block;
  background: #6d9df5;
  border-radius: 4px;
  height: 8px;
  margin: 0;
  padding: 0;
  width: 0;
  animation-duration: 0.2s;
  animation-timing-function: linear; 
}

#progress.pushup {
  animation-name: progress30;
  width: 30px;
}

#progress.squat {
  animation-name: progress60;
  width: 60px;
}

#progress.pullup {
  animation-name: progress90;
  width: 90px;
}

#progress.leg_raise {
  animation-name: progress120;
  width: 120px;
}

#progress.bridge {
  animation-name: progress150;
  width: 150px;
}

#progress.handstand {
  animation-name: progress180;
  width: 180px;
}

@keyframes progress30 {
  from { width: 0;}
  to   { width: 30px;}
}

@keyframes progress60 {
  from { width: 30px;}
  to   { width: 60px;}
}

@keyframes progress90 {
  from { width: 60px;}
  to   { width: 90px;}
}

@keyframes progress120 {
  from { width: 90px;}
  to   { width: 120px;}
}

@keyframes progress150 {
  from { width: 120px;}
  to   { width: 150px;}
}

@keyframes progress180 {
  from { width: 150px;}
  to   { width: 180px;}
}